.devise-wrapper {
  margin: 0;
  background: url('https://images.pexels.com/photos/1110670/pexels-photo-1110670.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #0a0a0b;
  overflow: hidden;
}

.devise-pages {
  width: 40%;
  padding: 30px 30px;
  background-color: rgba(221,221,221,0.5)
}

h2 {
  font-size: 16px;
}
