.show-page {
  display: flex;
}

#map {
  width: 50%;
  height: 85vh;
  margin-top: 10px;
}

.resultsfooter {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#email {
    font-size: 12px;
    height: 42px;
    width: 215px;
    margin-top: 15px;
}

.email-btn {

}

@media(max-width: 1000px) {
  .show-page {
    display: flex;
    flex-direction: column;
  }
  #map {
    width: 100%;
    height: 400px;
    margin-top: 20px;
  }
  .results {
    width: 100%;
  }

  #email {
    font-size: 12px;
    height: 40px;
    width: 145px;
    margin-top: 15px;
}

}


