.show-page {
  display: flex;
}

#map {
  width: 50%;
  height: 85vh;
  margin-top: 10px;
  }

@media(max-width: 720px) {
  .show-page {
    display: flex;
    flex-direction: column;
  }
  #map {
    width: 100%;
    height: 400px;
    margin-top: 20px;
  }
  .results {
    width: 100%;
  }
}


