.savedtrips {
  h1 {
    margin-left: 10px;
    color: solid gray;
  }
}

.savedtrip-card {
 margin: 0px;
 color: gray;
 font-size: 12px;
 font-weight: lighter;
 margin-top: 20px;
}

.savedrip-image {
  margin: 0px;
}



.trips-card {
  padding-left: 10px;
  margin-top: 0px;
}
