<section class="content-page">
  <div class="container-fluid">

  <section class="hero">
    <div class="container">
      <div class="row">
        <h1 class="text-uppercase">About FlyingPengu.com</h1>
        <span class="text">
          <p>This service provides our customers with easy ways of finding the cheapest flights for groups. It provides the option of accessing different dates and hometowns of departures.
          </p>
          <p>
            We hope your travel experience is better with us.
          </p>
        </span>
      </div>
    </div>
  </section>

  <section class="mission">
    <div class="container">
      <div class="row">
        <h2 class="text-uppercase">Our Mission</h2>
        <span class="text">
          <p>We recognise that our customers always have a choice. We care about personally delivering amazing travel experiences. This is provided with honesty, integrity and a great attitude. It is the key to our company’s success. The key measure of whether we really are personally providing our customers with an amazing experience, an amazing product and a very caring service is they will return again and again.</p>


          <p>We believe our people have the right to belong to a Team (family), a Village, an Area (tribe) and Nation (hierarchy) that will provide them with an exciting future and a supportive working community. They also have the right to see a clear pathway to achieving their career goals. Promotion and transfers from within will always be our first choice.</p>

          <!-- <p>Seven out of eight people still buy diamonds offline. We want to bring you online to help you spend less, get more, and feel more confident doing so. We&rsquo;re on your team. We&rsquo;ve hand selected vendors with stellar reputations and services to search with a click.</p>
          <p>It&rsquo;s personal. Our recently engaged founder struggled with the same issues you&rsquo;re having today - spending a lot of money on something he knew little about on sites he&rsquo;d never heard of. Read about his journey <a href="http://blog.rarecarat.com/post/my-engagement-ring-story" target="_blank">here</a>.</p>
          <p>We&rsquo;re also using data science and machine learning with IBM Watson to help you make the smartest decision. This <a href="http://blog.rarecarat.com/post/watson-score-how-we-re-using-data-science-and-machine-learning" target="_blank">blog post</a> explains more.</p>
          <p>In research and development, we&rsquo;re testing artificial intelligence bots that ask questions in English, instead of &ldquo;Diamond-ese&rdquo; to help guide new buyers in finding the right stone.</p>
          <p>If you have suggestions for features to make buying diamonds better, we&rsquo;re all ears.</p> -->
        </span>
      </div>
    </div>
  </section>
