<h3>Contact Page</h3>

  <div id="screen">
  <!-- Backstage Controlls -->
  <input type="radio" name="contatcs" id="contact-1">
  <div class="item">
    <div class="portrait" id="Nico-Dee"></div>
    <div class="details">
      <p class="name">Nicolas Dee</p>
      <p class="description">Developer</p>
      <div class="actions">
        <div class="mail">&#9993;</div>
        <div class="text">&#59168;</div>
        <div class="call">&#128222;</div>
        <div class="info"></div>
      </div>
    </div>
    <label class="tag" for="contact-1"></label>
  </div>

  <input type="radio" name="contatcs" id="contact-2">
  <div class="item">
    <div class="portrait" id="Lucrezia-Omini"></div>
    <div class="details">
      <p class="name">Lucrezia Omini</p>
      <p class="description">Developer</p>
      <div class="actions">
        <div class="mail">&#9993;</div>
        <div class="text">&#59168;</div>
        <div class="call">&#128222;</div>
        <div class="info"></div>
      </div>
    </div>
    <label class="tag" for="contact-2"></label>
  </div>

  <input type="radio" name="contatcs" id="contact-3">
  <div class="item">
    <div class="portrait" id="Darlene-Graterol"></div>
    <div class="details">
      <p class="name">Darlene Graterol</p>
      <p class="description">Developer</p>
      <div class="actions">
        <div class="mail">&#9993;</div>
        <div class="text">&#59168;</div>
        <div class="call">&#128222;</div>
        <div class="info"></div>
      </div>
    </div>
    <label class="tag" for="contact-3"></tag>
  </div>


