 <div class="wrapper">


  <div class="cover">
    <h1>We travel better together</h1>
    <h1>Discover what's out there with your friends.</h1>
<% button_to "", new_trip_path %>
    <form  class="flex-form" action="/trips/new" >
      <input type="submit" value="Start your journey here" >
    </form>

  </div>

</div>
